.starter-template {
  padding: 40px 15px;
  text-align: center;
}

html {
  font-size: 62.5%;
  width:100%;
  height: 100%;
}
html {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
  url(/img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 200px #000000;
}

.main {
  display: none;
  text-align: center;
  background-color: transparent;
}

.jumbotron {
  background-color: transparent;
  color: #DDD;
}
.inst {
  text-align: center;
}
.after {
  clear:both;
}
.inst > li{
  display: inline-block;
  margin: 5px;
  padding: 3px;
  float: none;
  background-color: rgba(118, 237, 134, 0.4);
}
.inst__modal > h4 {
  font-size: 20px;
}
.inst__modal > p {
  font-size: 13px;
}
.inst__modal {
  width: 20rem;
  height: 10rem;
}

body {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
}
